@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: black;
    margin: 10px;
}

.pass {
    padding: 10px;
}

.evene {
    margin: 10px;
}